html, body
{
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}
.container{
  position: relative;
  height: 100vh;
}
footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
